// Import Partials
@import'partials/_normalize';
// Page Styles
body {
    background-color: #333;
    margin: 0 auto;
}

#phaser-stage {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
